In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df=pd.read_csv("netflix_titles.csv")

In [6]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [7]:
netflix_data=pd.read_csv("netflix_titles.csv")

In [9]:
print(netflix_data.shape)

(8807, 12)

In [12]:
missing_values_count=netflix_data.isnull().sum()

In [15]:
print(missing_values_count[0:5])

show_id        0
type           0
title          0
director    2634
cast         825
dtype: int64

In [18]:
droprows=netflix_data.dropna()

In [19]:
print(netflix_data.shape, droprows.shape)

(8807, 12) (5332, 12)

In [20]:
dropcolumns=netflix_data.dropna(axis=1)
print(netflix_data.shape, dropcolumns.shape)

(8807, 12) (8807, 6)

In [22]:
df=0

In [23]:
df

0

In [25]:
cleaned_data=netflix_data.fillna(method='bfill', axis=1).fillna(0)

In [27]:
cleaned_data=netflix_data.fillna(method='bfill', axis=1).fillna(0)

In [29]:
drop_duplicates=netflix_data.drop_duplicates(subset=['show_id'])

In [30]:
print(netflix_data.shape, drop_duplicates.shape)

(8807, 12) (8807, 12)

In [31]:
import re

In [32]:
re.sub(r"red","blue", "I have a red car")

'I have a blue car'

In [33]:
re.findall("User\d","The winners are:User9,UserN,User8")

['User9', 'User8']

In [34]:
re.findall("User\D","The winners are:User9,UserN,User8")

['UserN']

In [38]:
re.findall("\W\d","The price is:$1$2$3")

['$1', '$2', '$3']

In [39]:
re.findall("\W\d","The price is:$1 $2 $3")

['$1', '$2', '$3']

In [40]:
re.findall("\W\d","The price is:$1 $2 $3")

['$1', '$2', '$3']

In [41]:
re.sub(r"ice\Scream","ice cream","I like ice-cream")

'I like ice cream'

In [5]:
import datetime

"01/01/2019 00:07"
s = "19 Nov 2015  18:45"
d = datetime.datetime.strptime(s, "%d %b %Y  %H:%M")

print(d.year)
print(d.month)
print(d.day)
print(d.hour)
print(d.minute)

2015
11
19
18
45

In [6]:
import re

s = "01/01/2019 00:07"
re.findall("\d+\/\d+\/\d+", "01/01/2019 00:07")

#re.split(r"<pattern1>", "<pattern2>")
#\d\d\/\d\d\/\d\d\d\d
#\d{2}\/\d{2}\/\d{4}
#\d+\/\d+\/\d+

['01/01/2019']

In [12]:
#transDate = re.findall("\d+\/\d+\/\d+", "01/01/2019 00:07")
splitDatetime = re.split(" ", "01/01/2019 00:07")

In [13]:
splitDatetime

['01/01/2019', '00:07']

In [26]:
import datetime as dt

d = dt.datetime.strptime("25/01/1973", "%d/%m/%Y")

In [27]:
d

datetime.datetime(1973, 1, 25, 0, 0)

In [28]:
d = d.date()

In [29]:
d

datetime.date(1973, 1, 25)

In [30]:
print(d.isoformat())

1973-01-25

In [42]:
import datetime as dt

import dateutil

def birthday(dob):
    # Get the current date
    now = datetime.datetime.utcnow()
    now = now.date()

    # Get the difference between the current date and the birthday
    age = dateutil.relativedelta.relativedelta(now, dob(*dob))
    age = age.years

    return age

In [47]:
import datetime as dt

import dateutil
year = dt.datetime.now().year
yob= int(input("enter your birth year: "))
print("Your are %i Years old" % (year - yob))

enter your birth year: 1956
Your are 66 Years old

In [48]:
import datetime as dt

import dateutil
year = dt.datetime.now().year
yob= int(input("enter your birth year: "))
print("Your are %i Years old" % (year - yob))

enter your birth year: 1965
Your are 57 Years old

In [51]:
import datetime as dt

import dateutil
ageData = [1965, 1966]
myYob = ageData[1]
year = dt.datetime.now().year

age = year - myYob

In [52]:
age

57

In [53]:
splitDatetime

['01/01/2019', '00:07']

In [54]:
birthYear=splitDatetime[0]

In [55]:
birthYear

'01/01/2019'

In [58]:
import re

#s = "01/01/2019 00:07"
#re.findall("\d+\/\d+\/\d+", "01/01/2019 00:07")

bYear=re.findall("\d{4}", birthYear)

In [59]:
bYear

['/2019']

In [60]:
import re

#s = "01/01/2019 00:07"

splitDatetime = re.split(" ", "01/01/2019 00:07")
birthYear=splitDatetime[0]
bYear=re.findall("\d{4}", birthYear)

In [61]:
bYear

['2019']