In [2]:
print("Data Camp Stuff")

Data Camp Stuff

In [1]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [2]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset = offset - 1
    else : 
      offset = offset + 1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [3]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas :
    print(area)

11.25
18.0
20.0
10.75
9.5

In [8]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room " + str(index) + ": " + str(a))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [5]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(a))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [7]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x in house :
    print("the " + x[0] + " is " + str(x[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [9]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x,y in europe.items() :
    print("the capital of " + x + " is " + str(y))

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [10]:
bricsFile=pd.read_csv("brics.csv")

NameError: name 'pd' is not defined

In [11]:
import pandas as pd

In [12]:
bricsFile=pd.read_csv("brics.csv")

In [13]:
bricsFile

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [14]:
# Import cars data
import pandas as pd
bricsFile = pd.read_csv('brics.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in bricsFile.iterrows() :
    print(str(lab[0])
    print([0]:[-1]))
    
    
    # Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(["country" + ": " + str(row[cars_per_cap])])

    
    
    # Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row['cars_per_cap']))

SyntaxError: invalid syntax (Temp/ipykernel_24328/3864056887.py, line 8)

In [15]:
bricsFile

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [16]:
bricsFile = pd.read_csv('brics.csv', index_col = 0)

In [17]:
bricsFile

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [18]:
bricsFile = pd.read_csv('brics.csv', index_col = 1)

In [19]:
bricsFile = pd.read_csv('brics.csv', index_col = 1)

In [20]:
bricsFile

             Unnamed: 0    capital    area  population
country
Brazil               BR   Brasilia   8.516      200.40
Russia               RU     Moscow  17.100      143.50
India                IN  New Delhi   3.286     1252.00
China                CH    Beijing   9.597     1357.00
South Africa         SA   Pretoria   1.221       52.98

In [21]:
for lab, row in bricsFile.iterrows() :
    print(str(lab[0])
    print([0]:[-1]))

SyntaxError: invalid syntax (Temp/ipykernel_24328/2274011627.py, line 3)

In [22]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row['population']))

Brazil: 200.4
Russia: 143.5
India: 1252.0
China: 1357.0
South Africa: 52.98

In [23]:
bricsFile = pd.read_csv('brics.csv', index_col = 0)

In [24]:
bricsFile

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [25]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row['population']))

BR: 200.4
RU: 143.5
IN: 1252.0
CH: 1357.0
SA: 52.98

In [28]:
 print(lab + ": " + str(row['population']))

IndexError: string index out of range

In [29]:
 print(lab + ": " + str(row))

SA: country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [31]:
 print(lab + ": " + str(row[1:6]))

SA: capital       Pretoria
area             1.221
population       52.98
Name: SA, dtype: object

In [32]:
print(lab + ": " + str(row[1:6]))

SA: capital       Pretoria
area             1.221
population       52.98
Name: SA, dtype: object

In [33]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row[1:5]))

BR: capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU: capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN: capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH: capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA: capital       Pretoria
area             1.221
population       52.98
Name: SA, dtype: object

In [35]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row[3]))

BR: 200.4
RU: 143.5
IN: 1252.0
CH: 1357.0
SA: 52.98

In [42]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row))

BR: country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU: country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN: country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH: country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA: country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [44]:
# Code for loop that adds COUNTRY column
for lab, row in bricsFile.iterrows() :
    bricsFile.loc[lab,"COUNTRY"] = row["country"].upper()


# Print bricsFile
print(bricsFile)

         country    capital    area  population       COUNTRY
BR        Brazil   Brasilia   8.516      200.40        BRAZIL
RU        Russia     Moscow  17.100      143.50        RUSSIA
IN         India  New Delhi   3.286     1252.00         INDIA
CH         China    Beijing   9.597     1357.00         CHINA
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA

In [48]:
   bricsFile.loc[lab, "COUNTRY2"] = row["country"].upper()

In [46]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

In [49]:
   bricsFile.loc[:[lab, "A", "B", "C", "D","COUNTRY2"] = row["country"].upper()

SyntaxError: invalid syntax (Temp/ipykernel_24328/2684766941.py, line 1)

In [52]:
print(bricsFile.loc[["capital"]])

KeyError: "None of [Index(['capital'], dtype='object')] are in the [index]"

In [ ]:
mylist=["RU", "IN", "CH", "AB"]

In [53]:
mylist

NameError: name 'mylist' is not defined

In [54]:
mylist=["RU", "IN", "CH", "AB"]

In [55]:
print(mylist)

['RU', 'IN', 'CH', 'AB']

In [56]:
mylist

['RU', 'IN', 'CH', 'AB']

In [57]:
print(mylist.loc[2])

AttributeError: 'list' object has no attribute 'loc'

In [58]:
mylist = [["RU", "IN", "CH", "AX"], ["AA", "AB", "AC", "AD"]]

In [59]:
mylist

[['RU', 'IN', 'CH', 'AX'], ['AA', 'AB', 'AC', 'AD']]

In [60]:
print(mylist)

[['RU', 'IN', 'CH', 'AX'], ['AA', 'AB', 'AC', 'AD']]

In [61]:
print(mylist[1:3])

[['AA', 'AB', 'AC', 'AD']]

In [62]:
print(mylist[1])

['AA', 'AB', 'AC', 'AD']

In [64]:
print(mylist[0])

['RU', 'IN', 'CH', 'AX']

In [65]:
print(mylist[1:2])

[['AA', 'AB', 'AC', 'AD']]

In [66]:
mylist = [["RU", "IN", "CH", "AX"]]

In [67]:
print(mylist[1:2])

[]

In [68]:
print(mylist[0])

['RU', 'IN', 'CH', 'AX']

In [69]:
print(mylist[1])

IndexError: list index out of range

In [70]:
print(mylist[0:2])

[['RU', 'IN', 'CH', 'AX']]

In [71]:
print(mylist[:2])

[['RU', 'IN', 'CH', 'AX']]

In [72]:
print(mylist.iloc[1,3])

AttributeError: 'list' object has no attribute 'iloc'

In [77]:
# Use .apply(str.upper)
bricsFile["COUNTRY3"] = bricsFile["country"].apply(str.upper)
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3
BR        BRAZIL        BRAZIL
RU        RUSSIA        RUSSIA
IN         INDIA         INDIA
CH         CHINA         CHINA
SA  SOUTH AFRICA  SOUTH AFRICA

In [78]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3
BR        BRAZIL        BRAZIL
RU        RUSSIA        RUSSIA
IN         INDIA         INDIA
CH         CHINA         CHINA
SA  SOUTH AFRICA  SOUTH AFRICA

In [79]:
bricsFile["CAPITAL"] = bricsFile["capital"].apply(str.upper)
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL
BR        BRAZIL        BRAZIL   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW
IN         INDIA         INDIA  NEW DELHI
CH         CHINA         CHINA    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA

In [80]:
bricsFile["CAPITAL2"] = bricsFile["capital"].apply(str.upper)

In [81]:
bricsFile["CAPITAL3"] = bricsFile["capital"].apply(str.upper)

In [82]:
bricsFile["CAPITAL4"] = bricsFile["capital"].apply(str.upper)

In [83]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL   CAPITAL2   CAPITAL3   CAPITAL4
BR        BRAZIL        BRAZIL   BRASILIA   BRASILIA   BRASILIA   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW     MOSCOW     MOSCOW     MOSCOW
IN         INDIA         INDIA  NEW DELHI  NEW DELHI  NEW DELHI  NEW DELHI
CH         CHINA         CHINA    BEIJING    BEIJING    BEIJING    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA   PRETORIA   PRETORIA   PRETORIA

In [84]:
bricsFile["CAPITAL5"] = bricsFile["capital"].apply(str.upper)

In [85]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL   CAPITAL2   CAPITAL3   CAPITAL4  \
BR        BRAZIL        BRAZIL   BRASILIA   BRASILIA   BRASILIA   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW     MOSCOW     MOSCOW     MOSCOW
IN         INDIA         INDIA  NEW DELHI  NEW DELHI  NEW DELHI  NEW DELHI
CH         CHINA         CHINA    BEIJING    BEIJING    BEIJING    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA   PRETORIA   PRETORIA   PRETORIA

     CAPITAL5
BR   BRASILIA
RU     MOSCOW
IN  NEW DELHI
CH    BEIJING
SA   PRETORIA

In [86]:
help(bool)

Help on class bool in module builtins:

class bool(int)
 |  bool(x) -> bool
 |
 |  Returns True when the argument x is true, False otherwise.
 |  The builtins True and False are the only two instances of the class bool.
 |  The class bool is a subclass of the class int, and cannot be subclassed.
 |
 |  Method resolution order:
 |      bool
 |      int
 |      object
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from int:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from int:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from int:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [88]:
sister="liz"

sister

In [89]:
print(sister)

liz

In [91]:
pop = [1,2,3]
country = ["a","b","c"]

In [92]:
world={"a":1, "b":2, "c":3}

In [93]:
print(world["b"])

2

In [94]:
print(brics)

NameError: name 'brics' is not defined

In [95]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL   CAPITAL2   CAPITAL3   CAPITAL4  \
BR        BRAZIL        BRAZIL   BRASILIA   BRASILIA   BRASILIA   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW     MOSCOW     MOSCOW     MOSCOW
IN         INDIA         INDIA  NEW DELHI  NEW DELHI  NEW DELHI  NEW DELHI
CH         CHINA         CHINA    BEIJING    BEIJING    BEIJING    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA   PRETORIA   PRETORIA   PRETORIA

     CAPITAL5
BR   BRASILIA
RU     MOSCOW
IN  NEW DELHI
CH    BEIJING
SA   PRETORIA

In [96]:
print(type(bricsFile))

<class 'pandas.core.frame.DataFrame'>

In [97]:
print(type(bricsFile["COUNTYR"]))

<class 'pandas.core.series.Series'>

In [98]:
bricsFile[1:4]

,country,capital,area,population,COUNTRY,COUNTRY2,COUNTYR,COUNTRY3,CAPITAL,CAPITAL2,CAPITAL3,CAPITAL4,CAPITAL5
RU,Russia,Moscow,17.100,143.5,RUSSIA,NaN,RUSSIA,RUSSIA,MOSCOW,MOSCOW,MOSCOW,MOSCOW,MOSCOW
IN,India,New Delhi,3.286,1252.0,INDIA,NaN,INDIA,INDIA,NEW DELHI,NEW DELHI,NEW DELHI,NEW DELHI,NEW DELHI
CH,China,Beijing,9.597,1357.0,CHINA,NaN,CHINA,CHINA,BEIJING,BEIJING,BEIJING,BEIJING,BEIJING

In [99]:
bricsFile[[1:4]]

SyntaxError: invalid syntax (Temp/ipykernel_24328/24911488.py, line 1)

In [101]:
bricsFile.iloc[[1:4]]

SyntaxError: invalid syntax (Temp/ipykernel_24328/546592240.py, line 1)

In [102]:
bricsFile.loc[[1][2]]

IndexError: list index out of range

In [103]:
bricsFile.loc[["RU"]["CH"]]

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Juli\AppData\Local\Temp/ipykernel_24328/2770734233.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  bricsFile.loc[["RU"]["CH"]]

TypeError: list indices must be integers or slices, not str

In [104]:
bricsFile.loc[["RU"],["CH"]]

KeyError: "None of [Index(['CH'], dtype='object')] are in the [columns]"

In [105]:
print(brics_file)

NameError: name 'brics_file' is not defined

In [106]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL   CAPITAL2   CAPITAL3   CAPITAL4  \
BR        BRAZIL        BRAZIL   BRASILIA   BRASILIA   BRASILIA   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW     MOSCOW     MOSCOW     MOSCOW
IN         INDIA         INDIA  NEW DELHI  NEW DELHI  NEW DELHI  NEW DELHI
CH         CHINA         CHINA    BEIJING    BEIJING    BEIJING    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA   PRETORIA   PRETORIA   PRETORIA

     CAPITAL5
BR   BRASILIA
RU     MOSCOW
IN  NEW DELHI
CH    BEIJING
SA   PRETORIA

In [107]:
print(bricsFile[['BR', 'CH']])

KeyError: "None of [Index(['BR', 'CH'], dtype='object')] are in the [columns]"

In [108]:
print(bricsFile.loc[['BR', 'CH']])

   country   capital   area  population COUNTRY COUNTRY2 COUNTYR COUNTRY3  \
BR  Brazil  Brasilia  8.516       200.4  BRAZIL      NaN  BRAZIL   BRAZIL
CH   China   Beijing  9.597      1357.0   CHINA      NaN   CHINA    CHINA

     CAPITAL  CAPITAL2  CAPITAL3  CAPITAL4  CAPITAL5
BR  BRASILIA  BRASILIA  BRASILIA  BRASILIA  BRASILIA
CH   BEIJING   BEIJING   BEIJING   BEIJING   BEIJING

In [1]:
import mysql.connector as mysql

ModuleNotFoundError: No module named 'mysql'

In [2]:
import requests

In [3]:
data=requests.get("http://api.open-notify.org/iss-now.json")
print(data)

<Response [200]>

In [4]:
data.json

In [5]:
data.json()

{'message': 'success',
 'timestamp': 1655569723,
 'iss_position': {'longitude': '-57.8685', 'latitude': '45.2210'}}

In [6]:
type(data.json())

dict

In [7]:
data=data.json()

AttributeError: 'dict' object has no attribute 'json'

In [9]:
data=data.json()
print(data)

AttributeError: 'dict' object has no attribute 'json'

In [10]:
data=requests.get("http://api.open-notify.org/iss-now.json")
print(data)

<Response [200]>

In [11]:
data=data.json()
print(data)

{'message': 'success', 'timestamp': 1655570123, 'iss_position': {'longitude': '-33.3466', 'latitude': '29.5944'}}

In [12]:
#parsing
#convert data into dataframe
data['iss_position']['longitude']

'-33.3466'

In [13]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo'
r = requests.get(url)
data = r.json()

print(data)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2022-06-17 19:35:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2022-06-17 19:35:00': {'1. open': '135.4800', '2. high': '135.4800', '3. low': '135.4800', '4. close': '135.4800', '5. volume': '300'}, '2022-06-17 18:45:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '650'}, '2022-06-17 17:55:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '3301'}, '2022-06-17 17:35:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '301'}, '2022-06-17 17:15:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '400'}, '2022-06-17 17:10:00': {'1. open': '135.0700', '2. high': '135.0700', '3. low': '135.0500', '4. close': '135.0500', '5. volume': '1305'}, '2022-06-17 17:05:00': {'1. open': '135.2699', '2. high': '135.2699', '3. low': '135.2699', '4. close': '135.2699', '5. volume': '100'}, '2022-06-17 17:00:00': {'1. open': '135.1500', '2. high': '135.1500', '3. low': '135.1500', '4. close': '135.1500', '5. volume': '1173'}, '2022-06-17 16:30:00': {'1. open': '135.0200', '2. high': '135.3001', '3. low': '135.0200', '4. close': '135.3000', '5. volume': '6162'}, '2022-06-17 16:25:00': {'1. open': '135.0297', '2. high': '135.3000', '3. low': '135.0103', '4. close': '135.3000', '5. volume': '2944'}, '2022-06-17 16:15:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '135'}, '2022-06-17 16:10:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '338869'}, '2022-06-17 16:05:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '1337873'}, '2022-06-17 16:00:00': {'1. open': '135.1701', '2. high': '135.2950', '3. low': '134.9700', '4. close': '135.0200', '5. volume': '410618'}, '2022-06-17 15:55:00': {'1. open': '135.7700', '2. high': '135.7700', '3. low': '135.1200', '4. close': '135.2200', '5. volume': '188867'}, '2022-06-17 15:50:00': {'1. open': '135.8900', '2. high': '135.9000', '3. low': '135.6650', '4. close': '135.7800', '5. volume': '119475'}, '2022-06-17 15:45:00': {'1. open': '136.1950', '2. high': '136.1950', '3. low': '135.8100', '4. close': '135.9000', '5. volume': '108974'}, '2022-06-17 15:40:00': {'1. open': '136.0253', '2. high': '136.2700', '3. low': '136.0100', '4. close': '136.1900', '5. volume': '107961'}, '2022-06-17 15:35:00': {'1. open': '136.1350', '2. high': '136.1900', '3. low': '135.8100', '4. close': '136.0100', '5. volume': '93531'}, '2022-06-17 15:30:00': {'1. open': '136.0100', '2. high': '136.2600', '3. low': '136.0100', '4. close': '136.1160', '5. volume': '70007'}, '2022-06-17 15:25:00': {'1. open': '135.6050', '2. high': '136.1300', '3. low': '135.5700', '4. close': '136.0400', '5. volume': '70718'}, '2022-06-17 15:20:00': {'1. open': '135.3550', '2. high': '135.6200', '3. low': '135.2750', '4. close': '135.6050', '5. volume': '82171'}, '2022-06-17 15:15:00': {'1. open': '135.7100', '2. high': '135.7200', '3. low': '135.2500', '4. close': '135.3400', '5. volume': '55102'}, '2022-06-17 15:10:00': {'1. open': '135.6900', '2. high': '135.8200', '3. low': '135.5600', '4. close': '135.7100', '5. volume': '50392'}, '2022-06-17 15:05:00': {'1. open': '135.5900', '2. high': '135.8800', '3. low': '135.5800', '4. close': '135.6600', '5. volume': '88377'}, '2022-06-17 15:00:00': {'1. open': '135.9200', '2. high': '135.9800', '3. low': '135.4900', '4. close': '135.5771', '5. volume': '80440'}, '2022-06-17 14:55:00': {'1. open': '136.0650', '2. high': '136.0650', '3. low': '135.7550', '4. close': '135.9300', '5. volume': '78773'}, '2022-06-17 14:50:00': {'1. open': '136.0900', '2. high': '136.1337', '3. low': '135.9600', '4. close': '136.0800', '5. volume': '47953'}, '2022-06-17 14:45:00': {'1. open': '136.0800', '2. high': '136.3900', '3. low': '136.0800', '4. close': '136.1160', '5. volume': '61783'}, '2022-06-17 14:40:00': {'1. open': '135.7000', '2. high': '136.0300', '3. low': '135.6500', '4. close': '136.0300', '5. volume': '42914'}, '2022-06-17 14:35:00': {'1. open': '135.7200', '2. high': '135.7850', '3. low': '135.5100', '4. close': '135.6800', '5. volume': '53868'}, '2022-06-17 14:30:00': {'1. open': '135.8800', '2. high': '135.9800', '3. low': '135.6800', '4. close': '135.7200', '5. volume': '73560'}, '2022-06-17 14:25:00': {'1. open': '135.6700', '2. high': '135.9500', '3. low': '135.6400', '4. close': '135.8600', '5. volume': '43385'}, '2022-06-17 14:20:00': {'1. open': '135.6600', '2. high': '135.9000', '3. low': '135.5400', '4. close': '135.6700', '5. volume': '106467'}, '2022-06-17 14:15:00': {'1. open': '135.4000', '2. high': '135.6557', '3. low': '135.3800', '4. close': '135.6450', '5. volume': '43818'}, '2022-06-17 14:10:00': {'1. open': '135.1800', '2. high': '135.4300', '3. low': '135.1200', '4. close': '135.4150', '5. volume': '44562'}, '2022-06-17 14:05:00': {'1. open': '135.0650', '2. high': '135.2599', '3. low': '134.9800', '4. close': '135.2041', '5. volume': '54036'}, '2022-06-17 14:00:00': {'1. open': '134.8100', '2. high': '135.1597', '3. low': '134.8100', '4. close': '135.0393', '5. volume': '30698'}, '2022-06-17 13:55:00': {'1. open': '134.7100', '2. high': '134.9500', '3. low': '134.6800', '4. close': '134.8400', '5. volume': '28142'}, '2022-06-17 13:50:00': {'1. open': '134.7700', '2. high': '134.8161', '3. low': '134.4500', '4. close': '134.6700', '5. volume': '25742'}, '2022-06-17 13:45:00': {'1. open': '134.6500', '2. high': '134.8500', '3. low': '134.6100', '4. close': '134.7800', '5. volume': '23435'}, '2022-06-17 13:40:00': {'1. open': '134.7300', '2. high': '134.8600', '3. low': '134.5900', '4. close': '134.6300', '5. volume': '26807'}, '2022-06-17 13:35:00': {'1. open': '134.7700', '2. high': '134.8300', '3. low': '134.5400', '4. close': '134.7600', '5. volume': '26329'}, '2022-06-17 13:30:00': {'1. open': '134.8700', '2. high': '134.8700', '3. low': '134.6400', '4. close': '134.7700', '5. volume': '35223'}, '2022-06-17 13:25:00': {'1. open': '134.8500', '2. high': '134.9000', '3. low': '134.6800', '4. close': '134.8950', '5. volume': '33539'}, '2022-06-17 13:20:00': {'1. open': '134.9300', '2. high': '134.9610', '3. low': '134.7500', '4. close': '134.8559', '5. volume': '36800'}, '2022-06-17 13:15:00': {'1. open': '134.8600', '2. high': '135.0750', '3. low': '134.7700', '4. close': '134.9596', '5. volume': '35570'}, '2022-06-17 13:10:00': {'1. open': '134.4500', '2. high': '134.9000', '3. low': '134.4300', '4. close': '134.8900', '5. volume': '47374'}, '2022-06-17 13:05:00': {'1. open': '134.1500', '2. high': '134.4500', '3. low': '134.1000', '4. close': '134.4400', '5. volume': '30265'}, '2022-06-17 13:00:00': {'1. open': '133.8500', '2. high': '134.1300', '3. low': '133.8200', '4. close': '134.1300', '5. volume': '34507'}, '2022-06-17 12:55:00': {'1. open': '133.9600', '2. high': '133.9800', '3. low': '133.7300', '4. close': '133.8400', '5. volume': '55198'}, '2022-06-17 12:50:00': {'1. open': '134.0200', '2. high': '134.0500', '3. low': '133.8631', '4. close': '133.9750', '5. volume': '33025'}, '2022-06-17 12:45:00': {'1. open': '134.0700', '2. high': '134.1800', '3. low': '133.7800', '4. close': '133.9800', '5. volume': '40269'}, '2022-06-17 12:40:00': {'1. open': '133.9700', '2. high': '134.0700', '3. low': '133.7500', '4. close': '134.0450', '5. volume': '39584'}, '2022-06-17 12:35:00': {'1. open': '134.2100', '2. high': '134.2400', '3. low': '133.9200', '4. close': '133.9500', '5. volume': '48850'}, '2022-06-17 12:30:00': {'1. open': '134.1100', '2. high': '134.2800', '3. low': '134.0200', '4. close': '134.1800', '5. volume': '30651'}, '2022-06-17 12:25:00': {'1. open': '133.9086', '2. high': '134.1400', '3. low': '133.8500', '4. close': '134.1200', '5. volume': '31232'}, '2022-06-17 12:20:00': {'1. open': '134.0400', '2. high': '134.1900', '3. low': '133.8100', '4. close': '133.8900', '5. volume': '36472'}, '2022-06-17 12:15:00': {'1. open': '133.6800', '2. high': '134.0300', '3. low': '133.5800', '4. close': '134.0100', '5. volume': '31068'}, '2022-06-17 12:10:00': {'1. open': '133.6500', '2. high': '133.8000', '3. low': '133.4500', '4. close': '133.6700', '5. volume': '33506'}, '2022-06-17 12:05:00': {'1. open': '133.5900', '2. high': '133.6000', '3. low': '133.4000', '4. close': '133.5900', '5. volume': '38808'}, '2022-06-17 12:00:00': {'1. open': '133.5500', '2. high': '133.7300', '3. low': '133.4400', '4. close': '133.6200', '5. volume': '48586'}, '2022-06-17 11:55:00': {'1. open': '133.9200', '2. high': '134.0050', '3. low': '133.4600', '4. close': '133.5500', '5. volume': '57818'}, '2022-06-17 11:50:00': {'1. open': '134.1500', '2. high': '134.1600', '3. low': '133.8700', '4. close': '133.9400', '5. volume': '49174'}, '2022-06-17 11:45:00': {'1. open': '134.4200', '2. high': '134.4900', '3. low': '134.2200', '4. close': '134.2290', '5. volume': '37253'}, '2022-06-17 11:40:00': {'1. open': '134.5700', '2. high': '134.6100', '3. low': '134.2000', '4. close': '134.4000', '5. volume': '36297'}, '2022-06-17 11:35:00': {'1. open': '134.3700', '2. high': '134.7600', '3. low': '134.3500', '4. close': '134.5800', '5. volume': '48270'}, '2022-06-17 11:30:00': {'1. open': '134.0000', '2. high': '134.3900', '3. low': '133.8491', '4. close': '134.3301', '5. volume': '41195'}, '2022-06-17 11:25:00': {'1. open': '134.3282', '2. high': '134.3650', '3. low': '133.9450', '4. close': '134.0100', '5. volume': '39876'}, '2022-06-17 11:20:00': {'1. open': '134.0800', '2. high': '134.4400', '3. low': '134.0300', '4. close': '134.3300', '5. volume': '45482'}, '2022-06-17 11:15:00': {'1. open': '133.9850', '2. high': '134.1100', '3. low': '133.8800', '4. close': '134.0800', '5. volume': '39032'}, '2022-06-17 11:10:00': {'1. open': '133.6850', '2. high': '134.0700', '3. low': '133.6850', '4. close': '133.9500', '5. volume': '53616'}, '2022-06-17 11:05:00': {'1. open': '133.3000', '2. high': '133.8500', '3. low': '133.1750', '4. close': '133.7400', '5. volume': '48661'}, '2022-06-17 11:00:00': {'1. open': '133.4000', '2. high': '133.5164', '3. low': '133.2100', '4. close': '133.3200', '5. volume': '65861'}, '2022-06-17 10:55:00': {'1. open': '133.2750', '2. high': '133.4300', '3. low': '133.1800', '4. close': '133.3900', '5. volume': '51073'}, '2022-06-17 10:50:00': {'1. open': '133.4900', '2. high': '133.6600', '3. low': '132.9400', '4. close': '133.2550', '5. volume': '55002'}, '2022-06-17 10:45:00': {'1. open': '133.2600', '2. high': '133.4900', '3. low': '132.8500', '4. close': '133.4900', '5. volume': '138285'}, '2022-06-17 10:40:00': {'1. open': '133.8800', '2. high': '133.9100', '3. low': '133.2500', '4. close': '133.2700', '5. volume': '109784'}, '2022-06-17 10:35:00': {'1. open': '134.3850', '2. high': '134.4600', '3. low': '133.8800', '4. close': '133.8800', '5. volume': '57660'}, '2022-06-17 10:30:00': {'1. open': '134.5800', '2. high': '134.6800', '3. low': '134.2600', '4. close': '134.4000', '5. volume': '69296'}, '2022-06-17 10:25:00': {'1. open': '134.9900', '2. high': '134.9900', '3. low': '134.5100', '4. close': '134.6000', '5. volume': '49106'}, '2022-06-17 10:20:00': {'1. open': '135.3300', '2. high': '135.3500', '3. low': '134.9500', '4. close': '135.0100', '5. volume': '51887'}, '2022-06-17 10:15:00': {'1. open': '135.6550', '2. high': '135.6900', '3. low': '135.3300', '4. close': '135.3300', '5. volume': '30787'}, '2022-06-17 10:10:00': {'1. open': '135.6500', '2. high': '135.7100', '3. low': '135.4600', '4. close': '135.6000', '5. volume': '48457'}, '2022-06-17 10:05:00': {'1. open': '135.9650', '2. high': '136.1600', '3. low': '135.5632', '4. close': '135.6300', '5. volume': '62539'}, '2022-06-17 10:00:00': {'1. open': '136.6600', '2. high': '136.7200', '3. low': '135.9437', '4. close': '135.9650', '5. volume': '48165'}, '2022-06-17 09:55:00': {'1. open': '136.3600', '2. high': '136.7700', '3. low': '136.0600', '4. close': '136.6700', '5. volume': '62242'}, '2022-06-17 09:50:00': {'1. open': '136.7879', '2. high': '136.9300', '3. low': '136.2910', '4. close': '136.3800', '5. volume': '72909'}, '2022-06-17 09:45:00': {'1. open': '136.5300', '2. high': '136.9800', '3. low': '136.5300', '4. close': '136.8100', '5. volume': '42176'}, '2022-06-17 09:40:00': {'1. open': '136.7700', '2. high': '136.8100', '3. low': '136.3729', '4. close': '136.5100', '5. volume': '55156'}, '2022-06-17 09:35:00': {'1. open': '135.9900', '2. high': '136.8400', '3. low': '135.7700', '4. close': '136.7851', '5. volume': '977182'}, '2022-06-17 09:30:00': {'1. open': '135.7300', '2. high': '135.9800', '3. low': '135.7300', '4. close': '135.9800', '5. volume': '1273'}, '2022-06-17 09:15:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '270'}, '2022-06-17 09:05:00': {'1. open': '135.5097', '2. high': '135.5097', '3. low': '135.5097', '4. close': '135.5097', '5. volume': '500'}, '2022-06-17 09:00:00': {'1. open': '135.7400', '2. high': '136.2500', '3. low': '135.7400', '4. close': '136.2500', '5. volume': '827'}, '2022-06-17 08:45:00': {'1. open': '136.0000', '2. high': '136.0000', '3. low': '135.7400', '4. close': '135.7400', '5. volume': '827'}, '2022-06-17 08:35:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '454'}, '2022-06-17 08:30:00': {'1. open': '136.2499', '2. high': '136.2499', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '105'}, '2022-06-17 08:20:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '173'}, '2022-06-17 08:10:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '100'}}}

In [14]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=YDD44GRGWQL7FODY'
r = requests.get(url)
data = r.json()

print(data)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2022-06-17 19:35:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2022-06-17 19:35:00': {'1. open': '135.4800', '2. high': '135.4800', '3. low': '135.4800', '4. close': '135.4800', '5. volume': '300'}, '2022-06-17 18:45:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '650'}, '2022-06-17 17:55:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '3301'}, '2022-06-17 17:35:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '301'}, '2022-06-17 17:15:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '400'}, '2022-06-17 17:10:00': {'1. open': '135.0700', '2. high': '135.0700', '3. low': '135.0500', '4. close': '135.0500', '5. volume': '1305'}, '2022-06-17 17:05:00': {'1. open': '135.2699', '2. high': '135.2699', '3. low': '135.2699', '4. close': '135.2699', '5. volume': '100'}, '2022-06-17 17:00:00': {'1. open': '135.1500', '2. high': '135.1500', '3. low': '135.1500', '4. close': '135.1500', '5. volume': '1173'}, '2022-06-17 16:30:00': {'1. open': '135.0200', '2. high': '135.3001', '3. low': '135.0200', '4. close': '135.3000', '5. volume': '6162'}, '2022-06-17 16:25:00': {'1. open': '135.0297', '2. high': '135.3000', '3. low': '135.0103', '4. close': '135.3000', '5. volume': '2944'}, '2022-06-17 16:15:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '135'}, '2022-06-17 16:10:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '338869'}, '2022-06-17 16:05:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '1337873'}, '2022-06-17 16:00:00': {'1. open': '135.1701', '2. high': '135.2950', '3. low': '134.9700', '4. close': '135.0200', '5. volume': '410618'}, '2022-06-17 15:55:00': {'1. open': '135.7700', '2. high': '135.7700', '3. low': '135.1200', '4. close': '135.2200', '5. volume': '188867'}, '2022-06-17 15:50:00': {'1. open': '135.8900', '2. high': '135.9000', '3. low': '135.6650', '4. close': '135.7800', '5. volume': '119475'}, '2022-06-17 15:45:00': {'1. open': '136.1950', '2. high': '136.1950', '3. low': '135.8100', '4. close': '135.9000', '5. volume': '108974'}, '2022-06-17 15:40:00': {'1. open': '136.0253', '2. high': '136.2700', '3. low': '136.0100', '4. close': '136.1900', '5. volume': '107961'}, '2022-06-17 15:35:00': {'1. open': '136.1350', '2. high': '136.1900', '3. low': '135.8100', '4. close': '136.0100', '5. volume': '93531'}, '2022-06-17 15:30:00': {'1. open': '136.0100', '2. high': '136.2600', '3. low': '136.0100', '4. close': '136.1160', '5. volume': '70007'}, '2022-06-17 15:25:00': {'1. open': '135.6050', '2. high': '136.1300', '3. low': '135.5700', '4. close': '136.0400', '5. volume': '70718'}, '2022-06-17 15:20:00': {'1. open': '135.3550', '2. high': '135.6200', '3. low': '135.2750', '4. close': '135.6050', '5. volume': '82171'}, '2022-06-17 15:15:00': {'1. open': '135.7100', '2. high': '135.7200', '3. low': '135.2500', '4. close': '135.3400', '5. volume': '55102'}, '2022-06-17 15:10:00': {'1. open': '135.6900', '2. high': '135.8200', '3. low': '135.5600', '4. close': '135.7100', '5. volume': '50392'}, '2022-06-17 15:05:00': {'1. open': '135.5900', '2. high': '135.8800', '3. low': '135.5800', '4. close': '135.6600', '5. volume': '88377'}, '2022-06-17 15:00:00': {'1. open': '135.9200', '2. high': '135.9800', '3. low': '135.4900', '4. close': '135.5771', '5. volume': '80440'}, '2022-06-17 14:55:00': {'1. open': '136.0650', '2. high': '136.0650', '3. low': '135.7550', '4. close': '135.9300', '5. volume': '78773'}, '2022-06-17 14:50:00': {'1. open': '136.0900', '2. high': '136.1337', '3. low': '135.9600', '4. close': '136.0800', '5. volume': '47953'}, '2022-06-17 14:45:00': {'1. open': '136.0800', '2. high': '136.3900', '3. low': '136.0800', '4. close': '136.1160', '5. volume': '61783'}, '2022-06-17 14:40:00': {'1. open': '135.7000', '2. high': '136.0300', '3. low': '135.6500', '4. close': '136.0300', '5. volume': '42914'}, '2022-06-17 14:35:00': {'1. open': '135.7200', '2. high': '135.7850', '3. low': '135.5100', '4. close': '135.6800', '5. volume': '53868'}, '2022-06-17 14:30:00': {'1. open': '135.8800', '2. high': '135.9800', '3. low': '135.6800', '4. close': '135.7200', '5. volume': '73560'}, '2022-06-17 14:25:00': {'1. open': '135.6700', '2. high': '135.9500', '3. low': '135.6400', '4. close': '135.8600', '5. volume': '43385'}, '2022-06-17 14:20:00': {'1. open': '135.6600', '2. high': '135.9000', '3. low': '135.5400', '4. close': '135.6700', '5. volume': '106467'}, '2022-06-17 14:15:00': {'1. open': '135.4000', '2. high': '135.6557', '3. low': '135.3800', '4. close': '135.6450', '5. volume': '43818'}, '2022-06-17 14:10:00': {'1. open': '135.1800', '2. high': '135.4300', '3. low': '135.1200', '4. close': '135.4150', '5. volume': '44562'}, '2022-06-17 14:05:00': {'1. open': '135.0650', '2. high': '135.2599', '3. low': '134.9800', '4. close': '135.2041', '5. volume': '54036'}, '2022-06-17 14:00:00': {'1. open': '134.8100', '2. high': '135.1597', '3. low': '134.8100', '4. close': '135.0393', '5. volume': '30698'}, '2022-06-17 13:55:00': {'1. open': '134.7100', '2. high': '134.9500', '3. low': '134.6800', '4. close': '134.8400', '5. volume': '28142'}, '2022-06-17 13:50:00': {'1. open': '134.7700', '2. high': '134.8161', '3. low': '134.4500', '4. close': '134.6700', '5. volume': '25742'}, '2022-06-17 13:45:00': {'1. open': '134.6500', '2. high': '134.8500', '3. low': '134.6100', '4. close': '134.7800', '5. volume': '23435'}, '2022-06-17 13:40:00': {'1. open': '134.7300', '2. high': '134.8600', '3. low': '134.5900', '4. close': '134.6300', '5. volume': '26807'}, '2022-06-17 13:35:00': {'1. open': '134.7700', '2. high': '134.8300', '3. low': '134.5400', '4. close': '134.7600', '5. volume': '26329'}, '2022-06-17 13:30:00': {'1. open': '134.8700', '2. high': '134.8700', '3. low': '134.6400', '4. close': '134.7700', '5. volume': '35223'}, '2022-06-17 13:25:00': {'1. open': '134.8500', '2. high': '134.9000', '3. low': '134.6800', '4. close': '134.8950', '5. volume': '33539'}, '2022-06-17 13:20:00': {'1. open': '134.9300', '2. high': '134.9610', '3. low': '134.7500', '4. close': '134.8559', '5. volume': '36800'}, '2022-06-17 13:15:00': {'1. open': '134.8600', '2. high': '135.0750', '3. low': '134.7700', '4. close': '134.9596', '5. volume': '35570'}, '2022-06-17 13:10:00': {'1. open': '134.4500', '2. high': '134.9000', '3. low': '134.4300', '4. close': '134.8900', '5. volume': '47374'}, '2022-06-17 13:05:00': {'1. open': '134.1500', '2. high': '134.4500', '3. low': '134.1000', '4. close': '134.4400', '5. volume': '30265'}, '2022-06-17 13:00:00': {'1. open': '133.8500', '2. high': '134.1300', '3. low': '133.8200', '4. close': '134.1300', '5. volume': '34507'}, '2022-06-17 12:55:00': {'1. open': '133.9600', '2. high': '133.9800', '3. low': '133.7300', '4. close': '133.8400', '5. volume': '55198'}, '2022-06-17 12:50:00': {'1. open': '134.0200', '2. high': '134.0500', '3. low': '133.8631', '4. close': '133.9750', '5. volume': '33025'}, '2022-06-17 12:45:00': {'1. open': '134.0700', '2. high': '134.1800', '3. low': '133.7800', '4. close': '133.9800', '5. volume': '40269'}, '2022-06-17 12:40:00': {'1. open': '133.9700', '2. high': '134.0700', '3. low': '133.7500', '4. close': '134.0450', '5. volume': '39584'}, '2022-06-17 12:35:00': {'1. open': '134.2100', '2. high': '134.2400', '3. low': '133.9200', '4. close': '133.9500', '5. volume': '48850'}, '2022-06-17 12:30:00': {'1. open': '134.1100', '2. high': '134.2800', '3. low': '134.0200', '4. close': '134.1800', '5. volume': '30651'}, '2022-06-17 12:25:00': {'1. open': '133.9086', '2. high': '134.1400', '3. low': '133.8500', '4. close': '134.1200', '5. volume': '31232'}, '2022-06-17 12:20:00': {'1. open': '134.0400', '2. high': '134.1900', '3. low': '133.8100', '4. close': '133.8900', '5. volume': '36472'}, '2022-06-17 12:15:00': {'1. open': '133.6800', '2. high': '134.0300', '3. low': '133.5800', '4. close': '134.0100', '5. volume': '31068'}, '2022-06-17 12:10:00': {'1. open': '133.6500', '2. high': '133.8000', '3. low': '133.4500', '4. close': '133.6700', '5. volume': '33506'}, '2022-06-17 12:05:00': {'1. open': '133.5900', '2. high': '133.6000', '3. low': '133.4000', '4. close': '133.5900', '5. volume': '38808'}, '2022-06-17 12:00:00': {'1. open': '133.5500', '2. high': '133.7300', '3. low': '133.4400', '4. close': '133.6200', '5. volume': '48586'}, '2022-06-17 11:55:00': {'1. open': '133.9200', '2. high': '134.0050', '3. low': '133.4600', '4. close': '133.5500', '5. volume': '57818'}, '2022-06-17 11:50:00': {'1. open': '134.1500', '2. high': '134.1600', '3. low': '133.8700', '4. close': '133.9400', '5. volume': '49174'}, '2022-06-17 11:45:00': {'1. open': '134.4200', '2. high': '134.4900', '3. low': '134.2200', '4. close': '134.2290', '5. volume': '37253'}, '2022-06-17 11:40:00': {'1. open': '134.5700', '2. high': '134.6100', '3. low': '134.2000', '4. close': '134.4000', '5. volume': '36297'}, '2022-06-17 11:35:00': {'1. open': '134.3700', '2. high': '134.7600', '3. low': '134.3500', '4. close': '134.5800', '5. volume': '48270'}, '2022-06-17 11:30:00': {'1. open': '134.0000', '2. high': '134.3900', '3. low': '133.8491', '4. close': '134.3301', '5. volume': '41195'}, '2022-06-17 11:25:00': {'1. open': '134.3282', '2. high': '134.3650', '3. low': '133.9450', '4. close': '134.0100', '5. volume': '39876'}, '2022-06-17 11:20:00': {'1. open': '134.0800', '2. high': '134.4400', '3. low': '134.0300', '4. close': '134.3300', '5. volume': '45482'}, '2022-06-17 11:15:00': {'1. open': '133.9850', '2. high': '134.1100', '3. low': '133.8800', '4. close': '134.0800', '5. volume': '39032'}, '2022-06-17 11:10:00': {'1. open': '133.6850', '2. high': '134.0700', '3. low': '133.6850', '4. close': '133.9500', '5. volume': '53616'}, '2022-06-17 11:05:00': {'1. open': '133.3000', '2. high': '133.8500', '3. low': '133.1750', '4. close': '133.7400', '5. volume': '48661'}, '2022-06-17 11:00:00': {'1. open': '133.4000', '2. high': '133.5164', '3. low': '133.2100', '4. close': '133.3200', '5. volume': '65861'}, '2022-06-17 10:55:00': {'1. open': '133.2750', '2. high': '133.4300', '3. low': '133.1800', '4. close': '133.3900', '5. volume': '51073'}, '2022-06-17 10:50:00': {'1. open': '133.4900', '2. high': '133.6600', '3. low': '132.9400', '4. close': '133.2550', '5. volume': '55002'}, '2022-06-17 10:45:00': {'1. open': '133.2600', '2. high': '133.4900', '3. low': '132.8500', '4. close': '133.4900', '5. volume': '138285'}, '2022-06-17 10:40:00': {'1. open': '133.8800', '2. high': '133.9100', '3. low': '133.2500', '4. close': '133.2700', '5. volume': '109784'}, '2022-06-17 10:35:00': {'1. open': '134.3850', '2. high': '134.4600', '3. low': '133.8800', '4. close': '133.8800', '5. volume': '57660'}, '2022-06-17 10:30:00': {'1. open': '134.5800', '2. high': '134.6800', '3. low': '134.2600', '4. close': '134.4000', '5. volume': '69296'}, '2022-06-17 10:25:00': {'1. open': '134.9900', '2. high': '134.9900', '3. low': '134.5100', '4. close': '134.6000', '5. volume': '49106'}, '2022-06-17 10:20:00': {'1. open': '135.3300', '2. high': '135.3500', '3. low': '134.9500', '4. close': '135.0100', '5. volume': '51887'}, '2022-06-17 10:15:00': {'1. open': '135.6550', '2. high': '135.6900', '3. low': '135.3300', '4. close': '135.3300', '5. volume': '30787'}, '2022-06-17 10:10:00': {'1. open': '135.6500', '2. high': '135.7100', '3. low': '135.4600', '4. close': '135.6000', '5. volume': '48457'}, '2022-06-17 10:05:00': {'1. open': '135.9650', '2. high': '136.1600', '3. low': '135.5632', '4. close': '135.6300', '5. volume': '62539'}, '2022-06-17 10:00:00': {'1. open': '136.6600', '2. high': '136.7200', '3. low': '135.9437', '4. close': '135.9650', '5. volume': '48165'}, '2022-06-17 09:55:00': {'1. open': '136.3600', '2. high': '136.7700', '3. low': '136.0600', '4. close': '136.6700', '5. volume': '62242'}, '2022-06-17 09:50:00': {'1. open': '136.7879', '2. high': '136.9300', '3. low': '136.2910', '4. close': '136.3800', '5. volume': '72909'}, '2022-06-17 09:45:00': {'1. open': '136.5300', '2. high': '136.9800', '3. low': '136.5300', '4. close': '136.8100', '5. volume': '42176'}, '2022-06-17 09:40:00': {'1. open': '136.7700', '2. high': '136.8100', '3. low': '136.3729', '4. close': '136.5100', '5. volume': '55156'}, '2022-06-17 09:35:00': {'1. open': '135.9900', '2. high': '136.8400', '3. low': '135.7700', '4. close': '136.7851', '5. volume': '977182'}, '2022-06-17 09:30:00': {'1. open': '135.7300', '2. high': '135.9800', '3. low': '135.7300', '4. close': '135.9800', '5. volume': '1273'}, '2022-06-17 09:15:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '270'}, '2022-06-17 09:05:00': {'1. open': '135.5097', '2. high': '135.5097', '3. low': '135.5097', '4. close': '135.5097', '5. volume': '500'}, '2022-06-17 09:00:00': {'1. open': '135.7400', '2. high': '136.2500', '3. low': '135.7400', '4. close': '136.2500', '5. volume': '827'}, '2022-06-17 08:45:00': {'1. open': '136.0000', '2. high': '136.0000', '3. low': '135.7400', '4. close': '135.7400', '5. volume': '827'}, '2022-06-17 08:35:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '454'}, '2022-06-17 08:30:00': {'1. open': '136.2499', '2. high': '136.2499', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '105'}, '2022-06-17 08:20:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '173'}, '2022-06-17 08:10:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '100'}}}

In [1]:
print(['Meta Data']['1. Information'])

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Juli\AppData\Local\Temp/ipykernel_18132/1307453490.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  print(['Meta Data']['1. Information'])

TypeError: list indices must be integers or slices, not str

In [2]:
print(['Meta Data'][0])

Meta Data

In [3]:
print(['Meta Data'][1])

IndexError: list index out of range

In [4]:
data.['Meta Data']['1. Information'])

SyntaxError: invalid syntax (Temp/ipykernel_18132/1607133990.py, line 1)

In [5]:
data['Meta Data']['1. Information'])

SyntaxError: unmatched ')' (Temp/ipykernel_18132/1361629124.py, line 1)

In [6]:
data['Meta Data']['1. Information']

NameError: name 'data' is not defined

In [10]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=YDD44GRGWQL7FODY'
r = requests.get(url)
data = r.json()

In [11]:
print(data)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2022-06-17 19:35:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2022-06-17 19:35:00': {'1. open': '135.4800', '2. high': '135.4800', '3. low': '135.4800', '4. close': '135.4800', '5. volume': '300'}, '2022-06-17 18:45:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '650'}, '2022-06-17 17:55:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '3301'}, '2022-06-17 17:35:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '301'}, '2022-06-17 17:15:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '400'}, '2022-06-17 17:10:00': {'1. open': '135.0700', '2. high': '135.0700', '3. low': '135.0500', '4. close': '135.0500', '5. volume': '1305'}, '2022-06-17 17:05:00': {'1. open': '135.2699', '2. high': '135.2699', '3. low': '135.2699', '4. close': '135.2699', '5. volume': '100'}, '2022-06-17 17:00:00': {'1. open': '135.1500', '2. high': '135.1500', '3. low': '135.1500', '4. close': '135.1500', '5. volume': '1173'}, '2022-06-17 16:30:00': {'1. open': '135.0200', '2. high': '135.3001', '3. low': '135.0200', '4. close': '135.3000', '5. volume': '6162'}, '2022-06-17 16:25:00': {'1. open': '135.0297', '2. high': '135.3000', '3. low': '135.0103', '4. close': '135.3000', '5. volume': '2944'}, '2022-06-17 16:15:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '135'}, '2022-06-17 16:10:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '338869'}, '2022-06-17 16:05:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '1337873'}, '2022-06-17 16:00:00': {'1. open': '135.1701', '2. high': '135.2950', '3. low': '134.9700', '4. close': '135.0200', '5. volume': '410618'}, '2022-06-17 15:55:00': {'1. open': '135.7700', '2. high': '135.7700', '3. low': '135.1200', '4. close': '135.2200', '5. volume': '188867'}, '2022-06-17 15:50:00': {'1. open': '135.8900', '2. high': '135.9000', '3. low': '135.6650', '4. close': '135.7800', '5. volume': '119475'}, '2022-06-17 15:45:00': {'1. open': '136.1950', '2. high': '136.1950', '3. low': '135.8100', '4. close': '135.9000', '5. volume': '108974'}, '2022-06-17 15:40:00': {'1. open': '136.0253', '2. high': '136.2700', '3. low': '136.0100', '4. close': '136.1900', '5. volume': '107961'}, '2022-06-17 15:35:00': {'1. open': '136.1350', '2. high': '136.1900', '3. low': '135.8100', '4. close': '136.0100', '5. volume': '93531'}, '2022-06-17 15:30:00': {'1. open': '136.0100', '2. high': '136.2600', '3. low': '136.0100', '4. close': '136.1160', '5. volume': '70007'}, '2022-06-17 15:25:00': {'1. open': '135.6050', '2. high': '136.1300', '3. low': '135.5700', '4. close': '136.0400', '5. volume': '70718'}, '2022-06-17 15:20:00': {'1. open': '135.3550', '2. high': '135.6200', '3. low': '135.2750', '4. close': '135.6050', '5. volume': '82171'}, '2022-06-17 15:15:00': {'1. open': '135.7100', '2. high': '135.7200', '3. low': '135.2500', '4. close': '135.3400', '5. volume': '55102'}, '2022-06-17 15:10:00': {'1. open': '135.6900', '2. high': '135.8200', '3. low': '135.5600', '4. close': '135.7100', '5. volume': '50392'}, '2022-06-17 15:05:00': {'1. open': '135.5900', '2. high': '135.8800', '3. low': '135.5800', '4. close': '135.6600', '5. volume': '88377'}, '2022-06-17 15:00:00': {'1. open': '135.9200', '2. high': '135.9800', '3. low': '135.4900', '4. close': '135.5771', '5. volume': '80440'}, '2022-06-17 14:55:00': {'1. open': '136.0650', '2. high': '136.0650', '3. low': '135.7550', '4. close': '135.9300', '5. volume': '78773'}, '2022-06-17 14:50:00': {'1. open': '136.0900', '2. high': '136.1337', '3. low': '135.9600', '4. close': '136.0800', '5. volume': '47953'}, '2022-06-17 14:45:00': {'1. open': '136.0800', '2. high': '136.3900', '3. low': '136.0800', '4. close': '136.1160', '5. volume': '61783'}, '2022-06-17 14:40:00': {'1. open': '135.7000', '2. high': '136.0300', '3. low': '135.6500', '4. close': '136.0300', '5. volume': '42914'}, '2022-06-17 14:35:00': {'1. open': '135.7200', '2. high': '135.7850', '3. low': '135.5100', '4. close': '135.6800', '5. volume': '53868'}, '2022-06-17 14:30:00': {'1. open': '135.8800', '2. high': '135.9800', '3. low': '135.6800', '4. close': '135.7200', '5. volume': '73560'}, '2022-06-17 14:25:00': {'1. open': '135.6700', '2. high': '135.9500', '3. low': '135.6400', '4. close': '135.8600', '5. volume': '43385'}, '2022-06-17 14:20:00': {'1. open': '135.6600', '2. high': '135.9000', '3. low': '135.5400', '4. close': '135.6700', '5. volume': '106467'}, '2022-06-17 14:15:00': {'1. open': '135.4000', '2. high': '135.6557', '3. low': '135.3800', '4. close': '135.6450', '5. volume': '43818'}, '2022-06-17 14:10:00': {'1. open': '135.1800', '2. high': '135.4300', '3. low': '135.1200', '4. close': '135.4150', '5. volume': '44562'}, '2022-06-17 14:05:00': {'1. open': '135.0650', '2. high': '135.2599', '3. low': '134.9800', '4. close': '135.2041', '5. volume': '54036'}, '2022-06-17 14:00:00': {'1. open': '134.8100', '2. high': '135.1597', '3. low': '134.8100', '4. close': '135.0393', '5. volume': '30698'}, '2022-06-17 13:55:00': {'1. open': '134.7100', '2. high': '134.9500', '3. low': '134.6800', '4. close': '134.8400', '5. volume': '28142'}, '2022-06-17 13:50:00': {'1. open': '134.7700', '2. high': '134.8161', '3. low': '134.4500', '4. close': '134.6700', '5. volume': '25742'}, '2022-06-17 13:45:00': {'1. open': '134.6500', '2. high': '134.8500', '3. low': '134.6100', '4. close': '134.7800', '5. volume': '23435'}, '2022-06-17 13:40:00': {'1. open': '134.7300', '2. high': '134.8600', '3. low': '134.5900', '4. close': '134.6300', '5. volume': '26807'}, '2022-06-17 13:35:00': {'1. open': '134.7700', '2. high': '134.8300', '3. low': '134.5400', '4. close': '134.7600', '5. volume': '26329'}, '2022-06-17 13:30:00': {'1. open': '134.8700', '2. high': '134.8700', '3. low': '134.6400', '4. close': '134.7700', '5. volume': '35223'}, '2022-06-17 13:25:00': {'1. open': '134.8500', '2. high': '134.9000', '3. low': '134.6800', '4. close': '134.8950', '5. volume': '33539'}, '2022-06-17 13:20:00': {'1. open': '134.9300', '2. high': '134.9610', '3. low': '134.7500', '4. close': '134.8559', '5. volume': '36800'}, '2022-06-17 13:15:00': {'1. open': '134.8600', '2. high': '135.0750', '3. low': '134.7700', '4. close': '134.9596', '5. volume': '35570'}, '2022-06-17 13:10:00': {'1. open': '134.4500', '2. high': '134.9000', '3. low': '134.4300', '4. close': '134.8900', '5. volume': '47374'}, '2022-06-17 13:05:00': {'1. open': '134.1500', '2. high': '134.4500', '3. low': '134.1000', '4. close': '134.4400', '5. volume': '30265'}, '2022-06-17 13:00:00': {'1. open': '133.8500', '2. high': '134.1300', '3. low': '133.8200', '4. close': '134.1300', '5. volume': '34507'}, '2022-06-17 12:55:00': {'1. open': '133.9600', '2. high': '133.9800', '3. low': '133.7300', '4. close': '133.8400', '5. volume': '55198'}, '2022-06-17 12:50:00': {'1. open': '134.0200', '2. high': '134.0500', '3. low': '133.8631', '4. close': '133.9750', '5. volume': '33025'}, '2022-06-17 12:45:00': {'1. open': '134.0700', '2. high': '134.1800', '3. low': '133.7800', '4. close': '133.9800', '5. volume': '40269'}, '2022-06-17 12:40:00': {'1. open': '133.9700', '2. high': '134.0700', '3. low': '133.7500', '4. close': '134.0450', '5. volume': '39584'}, '2022-06-17 12:35:00': {'1. open': '134.2100', '2. high': '134.2400', '3. low': '133.9200', '4. close': '133.9500', '5. volume': '48850'}, '2022-06-17 12:30:00': {'1. open': '134.1100', '2. high': '134.2800', '3. low': '134.0200', '4. close': '134.1800', '5. volume': '30651'}, '2022-06-17 12:25:00': {'1. open': '133.9086', '2. high': '134.1400', '3. low': '133.8500', '4. close': '134.1200', '5. volume': '31232'}, '2022-06-17 12:20:00': {'1. open': '134.0400', '2. high': '134.1900', '3. low': '133.8100', '4. close': '133.8900', '5. volume': '36472'}, '2022-06-17 12:15:00': {'1. open': '133.6800', '2. high': '134.0300', '3. low': '133.5800', '4. close': '134.0100', '5. volume': '31068'}, '2022-06-17 12:10:00': {'1. open': '133.6500', '2. high': '133.8000', '3. low': '133.4500', '4. close': '133.6700', '5. volume': '33506'}, '2022-06-17 12:05:00': {'1. open': '133.5900', '2. high': '133.6000', '3. low': '133.4000', '4. close': '133.5900', '5. volume': '38808'}, '2022-06-17 12:00:00': {'1. open': '133.5500', '2. high': '133.7300', '3. low': '133.4400', '4. close': '133.6200', '5. volume': '48586'}, '2022-06-17 11:55:00': {'1. open': '133.9200', '2. high': '134.0050', '3. low': '133.4600', '4. close': '133.5500', '5. volume': '57818'}, '2022-06-17 11:50:00': {'1. open': '134.1500', '2. high': '134.1600', '3. low': '133.8700', '4. close': '133.9400', '5. volume': '49174'}, '2022-06-17 11:45:00': {'1. open': '134.4200', '2. high': '134.4900', '3. low': '134.2200', '4. close': '134.2290', '5. volume': '37253'}, '2022-06-17 11:40:00': {'1. open': '134.5700', '2. high': '134.6100', '3. low': '134.2000', '4. close': '134.4000', '5. volume': '36297'}, '2022-06-17 11:35:00': {'1. open': '134.3700', '2. high': '134.7600', '3. low': '134.3500', '4. close': '134.5800', '5. volume': '48270'}, '2022-06-17 11:30:00': {'1. open': '134.0000', '2. high': '134.3900', '3. low': '133.8491', '4. close': '134.3301', '5. volume': '41195'}, '2022-06-17 11:25:00': {'1. open': '134.3282', '2. high': '134.3650', '3. low': '133.9450', '4. close': '134.0100', '5. volume': '39876'}, '2022-06-17 11:20:00': {'1. open': '134.0800', '2. high': '134.4400', '3. low': '134.0300', '4. close': '134.3300', '5. volume': '45482'}, '2022-06-17 11:15:00': {'1. open': '133.9850', '2. high': '134.1100', '3. low': '133.8800', '4. close': '134.0800', '5. volume': '39032'}, '2022-06-17 11:10:00': {'1. open': '133.6850', '2. high': '134.0700', '3. low': '133.6850', '4. close': '133.9500', '5. volume': '53616'}, '2022-06-17 11:05:00': {'1. open': '133.3000', '2. high': '133.8500', '3. low': '133.1750', '4. close': '133.7400', '5. volume': '48661'}, '2022-06-17 11:00:00': {'1. open': '133.4000', '2. high': '133.5164', '3. low': '133.2100', '4. close': '133.3200', '5. volume': '65861'}, '2022-06-17 10:55:00': {'1. open': '133.2750', '2. high': '133.4300', '3. low': '133.1800', '4. close': '133.3900', '5. volume': '51073'}, '2022-06-17 10:50:00': {'1. open': '133.4900', '2. high': '133.6600', '3. low': '132.9400', '4. close': '133.2550', '5. volume': '55002'}, '2022-06-17 10:45:00': {'1. open': '133.2600', '2. high': '133.4900', '3. low': '132.8500', '4. close': '133.4900', '5. volume': '138285'}, '2022-06-17 10:40:00': {'1. open': '133.8800', '2. high': '133.9100', '3. low': '133.2500', '4. close': '133.2700', '5. volume': '109784'}, '2022-06-17 10:35:00': {'1. open': '134.3850', '2. high': '134.4600', '3. low': '133.8800', '4. close': '133.8800', '5. volume': '57660'}, '2022-06-17 10:30:00': {'1. open': '134.5800', '2. high': '134.6800', '3. low': '134.2600', '4. close': '134.4000', '5. volume': '69296'}, '2022-06-17 10:25:00': {'1. open': '134.9900', '2. high': '134.9900', '3. low': '134.5100', '4. close': '134.6000', '5. volume': '49106'}, '2022-06-17 10:20:00': {'1. open': '135.3300', '2. high': '135.3500', '3. low': '134.9500', '4. close': '135.0100', '5. volume': '51887'}, '2022-06-17 10:15:00': {'1. open': '135.6550', '2. high': '135.6900', '3. low': '135.3300', '4. close': '135.3300', '5. volume': '30787'}, '2022-06-17 10:10:00': {'1. open': '135.6500', '2. high': '135.7100', '3. low': '135.4600', '4. close': '135.6000', '5. volume': '48457'}, '2022-06-17 10:05:00': {'1. open': '135.9650', '2. high': '136.1600', '3. low': '135.5632', '4. close': '135.6300', '5. volume': '62539'}, '2022-06-17 10:00:00': {'1. open': '136.6600', '2. high': '136.7200', '3. low': '135.9437', '4. close': '135.9650', '5. volume': '48165'}, '2022-06-17 09:55:00': {'1. open': '136.3600', '2. high': '136.7700', '3. low': '136.0600', '4. close': '136.6700', '5. volume': '62242'}, '2022-06-17 09:50:00': {'1. open': '136.7879', '2. high': '136.9300', '3. low': '136.2910', '4. close': '136.3800', '5. volume': '72909'}, '2022-06-17 09:45:00': {'1. open': '136.5300', '2. high': '136.9800', '3. low': '136.5300', '4. close': '136.8100', '5. volume': '42176'}, '2022-06-17 09:40:00': {'1. open': '136.7700', '2. high': '136.8100', '3. low': '136.3729', '4. close': '136.5100', '5. volume': '55156'}, '2022-06-17 09:35:00': {'1. open': '135.9900', '2. high': '136.8400', '3. low': '135.7700', '4. close': '136.7851', '5. volume': '977182'}, '2022-06-17 09:30:00': {'1. open': '135.7300', '2. high': '135.9800', '3. low': '135.7300', '4. close': '135.9800', '5. volume': '1273'}, '2022-06-17 09:15:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '270'}, '2022-06-17 09:05:00': {'1. open': '135.5097', '2. high': '135.5097', '3. low': '135.5097', '4. close': '135.5097', '5. volume': '500'}, '2022-06-17 09:00:00': {'1. open': '135.7400', '2. high': '136.2500', '3. low': '135.7400', '4. close': '136.2500', '5. volume': '827'}, '2022-06-17 08:45:00': {'1. open': '136.0000', '2. high': '136.0000', '3. low': '135.7400', '4. close': '135.7400', '5. volume': '827'}, '2022-06-17 08:35:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '454'}, '2022-06-17 08:30:00': {'1. open': '136.2499', '2. high': '136.2499', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '105'}, '2022-06-17 08:20:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '173'}, '2022-06-17 08:10:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '100'}}}

In [12]:
data['Meta Data']['1. Information']

'Intraday (5min) open, high, low, close prices and volume'

In [13]:
data['Meta Data']['1. Information']['2. Symbol']

TypeError: string indices must be integers

In [14]:
data['Meta Data']

{'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
 '2. Symbol': 'IBM',
 '3. Last Refreshed': '2022-06-17 19:35:00',
 '4. Interval': '5min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [15]:
data['Time Series (5min)']

{'2022-06-17 19:35:00': {'1. open': '135.4800',
  '2. high': '135.4800',
  '3. low': '135.4800',
  '4. close': '135.4800',
  '5. volume': '300'},
 '2022-06-17 18:45:00': {'1. open': '135.5000',
  '2. high': '135.5000',
  '3. low': '135.5000',
  '4. close': '135.5000',
  '5. volume': '650'},
 '2022-06-17 17:55:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '3301'},
 '2022-06-17 17:35:00': {'1. open': '135.0400',
  '2. high': '135.0400',
  '3. low': '135.0400',
  '4. close': '135.0400',
  '5. volume': '301'},
 '2022-06-17 17:15:00': {'1. open': '135.0400',
  '2. high': '135.0400',
  '3. low': '135.0400',
  '4. close': '135.0400',
  '5. volume': '400'},
 '2022-06-17 17:10:00': {'1. open': '135.0700',
  '2. high': '135.0700',
  '3. low': '135.0500',
  '4. close': '135.0500',
  '5. volume': '1305'},
 '2022-06-17 17:05:00': {'1. open': '135.2699',
  '2. high': '135.2699',
  '3. low': '135.2699',
  '4. close': '135.2699',
  '5. volume': '100'},
 '2022-06-17 17:00:00': {'1. open': '135.1500',
  '2. high': '135.1500',
  '3. low': '135.1500',
  '4. close': '135.1500',
  '5. volume': '1173'},
 '2022-06-17 16:30:00': {'1. open': '135.0200',
  '2. high': '135.3001',
  '3. low': '135.0200',
  '4. close': '135.3000',
  '5. volume': '6162'},
 '2022-06-17 16:25:00': {'1. open': '135.0297',
  '2. high': '135.3000',
  '3. low': '135.0103',
  '4. close': '135.3000',
  '5. volume': '2944'},
 '2022-06-17 16:15:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '135'},
 '2022-06-17 16:10:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '338869'},
 '2022-06-17 16:05:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '1337873'},
 '2022-06-17 16:00:00': {'1. open': '135.1701',
  '2. high': '135.2950',
  '3. low': '134.9700',
  '4. close': '135.0200',
  '5. volume': '410618'},
 '2022-06-17 15:55:00': {'1. open': '135.7700',
  '2. high': '135.7700',
  '3. low': '135.1200',
  '4. close': '135.2200',
  '5. volume': '188867'},
 '2022-06-17 15:50:00': {'1. open': '135.8900',
  '2. high': '135.9000',
  '3. low': '135.6650',
  '4. close': '135.7800',
  '5. volume': '119475'},
 '2022-06-17 15:45:00': {'1. open': '136.1950',
  '2. high': '136.1950',
  '3. low': '135.8100',
  '4. close': '135.9000',
  '5. volume': '108974'},
 '2022-06-17 15:40:00': {'1. open': '136.0253',
  '2. high': '136.2700',
  '3. low': '136.0100',
  '4. close': '136.1900',
  '5. volume': '107961'},
 '2022-06-17 15:35:00': {'1. open': '136.1350',
  '2. high': '136.1900',
  '3. low': '135.8100',
  '4. close': '136.0100',
  '5. volume': '93531'},
 '2022-06-17 15:30:00': {'1. open': '136.0100',
  '2. high': '136.2600',
  '3. low': '136.0100',
  '4. close': '136.1160',
  '5. volume': '70007'},
 '2022-06-17 15:25:00': {'1. open': '135.6050',
  '2. high': '136.1300',
  '3. low': '135.5700',
  '4. close': '136.0400',
  '5. volume': '70718'},
 '2022-06-17 15:20:00': {'1. open': '135.3550',
  '2. high': '135.6200',
  '3. low': '135.2750',
  '4. close': '135.6050',
  '5. volume': '82171'},
 '2022-06-17 15:15:00': {'1. open': '135.7100',
  '2. high': '135.7200',
  '3. low': '135.2500',
  '4. close': '135.3400',
  '5. volume': '55102'},
 '2022-06-17 15:10:00': {'1. open': '135.6900',
  '2. high': '135.8200',
  '3. low': '135.5600',
  '4. close': '135.7100',
  '5. volume': '50392'},
 '2022-06-17 15:05:00': {'1. open': '135.5900',
  '2. high': '135.8800',
  '3. low': '135.5800',
  '4. close': '135.6600',
  '5. volume': '88377'},
 '2022-06-17 15:00:00': {'1. open': '135.9200',
  '2. high': '135.9800',
  '3. low': '135.4900',
  '4. close': '135.5771',
  '5. volume': '80440'},
 '2022-06-17 14:55:00': {'1. open': '136.0650',
  '2. high': '136.0650',
  '3. low': '135.7550',
  '4. close': '135.9300',
  '5. volume': '78773'},
 '2022-06-17 14:50:00': {'1. open': '136.0900',
  '2. high': '136.1337',
  '3. low': '135.9600',
  '4. close': '136.0800',
  '5. volume': '47953'},
 '2022-06-17 14:45:00': {'1. open': '136.0800',
  '2. high': '136.3900',
  '3. low': '136.0800',
  '4. close': '136.1160',
  '5. volume': '61783'},
 '2022-06-17 14:40:00': {'1. open': '135.7000',
  '2. high': '136.0300',
  '3. low': '135.6500',
  '4. close': '136.0300',
  '5. volume': '42914'},
 '2022-06-17 14:35:00': {'1. open': '135.7200',
  '2. high': '135.7850',
  '3. low': '135.5100',
  '4. close': '135.6800',
  '5. volume': '53868'},
 '2022-06-17 14:30:00': {'1. open': '135.8800',
  '2. high': '135.9800',
  '3. low': '135.6800',
  '4. close': '135.7200',
  '5. volume': '73560'},
 '2022-06-17 14:25:00': {'1. open': '135.6700',
  '2. high': '135.9500',
  '3. low': '135.6400',
  '4. close': '135.8600',
  '5. volume': '43385'},
 '2022-06-17 14:20:00': {'1. open': '135.6600',
  '2. high': '135.9000',
  '3. low': '135.5400',
  '4. close': '135.6700',
  '5. volume': '106467'},
 '2022-06-17 14:15:00': {'1. open': '135.4000',
  '2. high': '135.6557',
  '3. low': '135.3800',
  '4. close': '135.6450',
  '5. volume': '43818'},
 '2022-06-17 14:10:00': {'1. open': '135.1800',
  '2. high': '135.4300',
  '3. low': '135.1200',
  '4. close': '135.4150',
  '5. volume': '44562'},
 '2022-06-17 14:05:00': {'1. open': '135.0650',
  '2. high': '135.2599',
  '3. low': '134.9800',
  '4. close': '135.2041',
  '5. volume': '54036'},
 '2022-06-17 14:00:00': {'1. open': '134.8100',
  '2. high': '135.1597',
  '3. low': '134.8100',
  '4. close': '135.0393',
  '5. volume': '30698'},
 '2022-06-17 13:55:00': {'1. open': '134.7100',
  '2. high': '134.9500',
  '3. low': '134.6800',
  '4. close': '134.8400',
  '5. volume': '28142'},
 '2022-06-17 13:50:00': {'1. open': '134.7700',
  '2. high': '134.8161',
  '3. low': '134.4500',
  '4. close': '134.6700',
  '5. volume': '25742'},
 '2022-06-17 13:45:00': {'1. open': '134.6500',
  '2. high': '134.8500',
  '3. low': '134.6100',
  '4. close': '134.7800',
  '5. volume': '23435'},
 '2022-06-17 13:40:00': {'1. open': '134.7300',
  '2. high': '134.8600',
  '3. low': '134.5900',
  '4. close': '134.6300',
  '5. volume': '26807'},
 '2022-06-17 13:35:00': {'1. open': '134.7700',
  '2. high': '134.8300',
  '3. low': '134.5400',
  '4. close': '134.7600',
  '5. volume': '26329'},
 '2022-06-17 13:30:00': {'1. open': '134.8700',
  '2. high': '134.8700',
  '3. low': '134.6400',
  '4. close': '134.7700',
  '5. volume': '35223'},
 '2022-06-17 13:25:00': {'1. open': '134.8500',
  '2. high': '134.9000',
  '3. low': '134.6800',
  '4. close': '134.8950',
  '5. volume': '33539'},
 '2022-06-17 13:20:00': {'1. open': '134.9300',
  '2. high': '134.9610',
  '3. low': '134.7500',
  '4. close': '134.8559',
  '5. volume': '36800'},
 '2022-06-17 13:15:00': {'1. open': '134.8600',
  '2. high': '135.0750',
  '3. low': '134.7700',
  '4. close': '134.9596',
  '5. volume': '35570'},
 '2022-06-17 13:10:00': {'1. open': '134.4500',
  '2. high': '134.9000',
  '3. low': '134.4300',
  '4. close': '134.8900',
  '5. volume': '47374'},
 '2022-06-17 13:05:00': {'1. open': '134.1500',
  '2. high': '134.4500',
  '3. low': '134.1000',
  '4. close': '134.4400',
  '5. volume': '30265'},
 '2022-06-17 13:00:00': {'1. open': '133.8500',
  '2. high': '134.1300',
  '3. low': '133.8200',
  '4. close': '134.1300',
  '5. volume': '34507'},
 '2022-06-17 12:55:00': {'1. open': '133.9600',
  '2. high': '133.9800',
  '3. low': '133.7300',
  '4. close': '133.8400',
  '5. volume': '55198'},
 '2022-06-17 12:50:00': {'1. open': '134.0200',
  '2. high': '134.0500',
  '3. low': '133.8631',
  '4. close': '133.9750',
  '5. volume': '33025'},
 '2022-06-17 12:45:00': {'1. open': '134.0700',
  '2. high': '134.1800',
  '3. low': '133.7800',
  '4. close': '133.9800',
  '5. volume': '40269'},
 '2022-06-17 12:40:00': {'1. open': '133.9700',
  '2. high': '134.0700',
  '3. low': '133.7500',
  '4. close': '134.0450',
  '5. volume': '39584'},
 '2022-06-17 12:35:00': {'1. open': '134.2100',
  '2. high': '134.2400',
  '3. low': '133.9200',
  '4. close': '133.9500',
  '5. volume': '48850'},
 '2022-06-17 12:30:00': {'1. open': '134.1100',
  '2. high': '134.2800',
  '3. low': '134.0200',
  '4. close': '134.1800',
  '5. volume': '30651'},
 '2022-06-17 12:25:00': {'1. open': '133.9086',
  '2. high': '134.1400',
  '3. low': '133.8500',
  '4. close': '134.1200',
  '5. volume': '31232'},
 '2022-06-17 12:20:00': {'1. open': '134.0400',
  '2. high': '134.1900',
  '3. low': '133.8100',
  '4. close': '133.8900',
  '5. volume': '36472'},
 '2022-06-17 12:15:00': {'1. open': '133.6800',
  '2. high': '134.0300',
  '3. low': '133.5800',
  '4. close': '134.0100',
  '5. volume': '31068'},
 '2022-06-17 12:10:00': {'1. open': '133.6500',
  '2. high': '133.8000',
  '3. low': '133.4500',
  '4. close': '133.6700',
  '5. volume': '33506'},
 '2022-06-17 12:05:00': {'1. open': '133.5900',
  '2. high': '133.6000',
  '3. low': '133.4000',
  '4. close': '133.5900',
  '5. volume': '38808'},
 '2022-06-17 12:00:00': {'1. open': '133.5500',
  '2. high': '133.7300',
  '3. low': '133.4400',
  '4. close': '133.6200',
  '5. volume': '48586'},
 '2022-06-17 11:55:00': {'1. open': '133.9200',
  '2. high': '134.0050',
  '3. low': '133.4600',
  '4. close': '133.5500',
  '5. volume': '57818'},
 '2022-06-17 11:50:00': {'1. open': '134.1500',
  '2. high': '134.1600',
  '3. low': '133.8700',
  '4. close': '133.9400',
  '5. volume': '49174'},
 '2022-06-17 11:45:00': {'1. open': '134.4200',
  '2. high': '134.4900',
  '3. low': '134.2200',
  '4. close': '134.2290',
  '5. volume': '37253'},
 '2022-06-17 11:40:00': {'1. open': '134.5700',
  '2. high': '134.6100',
  '3. low': '134.2000',
  '4. close': '134.4000',
  '5. volume': '36297'},
 '2022-06-17 11:35:00': {'1. open': '134.3700',
  '2. high': '134.7600',
  '3. low': '134.3500',
  '4. close': '134.5800',
  '5. volume': '48270'},
 '2022-06-17 11:30:00': {'1. open': '134.0000',
  '2. high': '134.3900',
  '3. low': '133.8491',
  '4. close': '134.3301',
  '5. volume': '41195'},
 '2022-06-17 11:25:00': {'1. open': '134.3282',
  '2. high': '134.3650',
  '3. low': '133.9450',
  '4. close': '134.0100',
  '5. volume': '39876'},
 '2022-06-17 11:20:00': {'1. open': '134.0800',
  '2. high': '134.4400',
  '3. low': '134.0300',
  '4. close': '134.3300',
  '5. volume': '45482'},
 '2022-06-17 11:15:00': {'1. open': '133.9850',
  '2. high': '134.1100',
  '3. low': '133.8800',
  '4. close': '134.0800',
  '5. volume': '39032'},
 '2022-06-17 11:10:00': {'1. open': '133.6850',
  '2. high': '134.0700',
  '3. low': '133.6850',
  '4. close': '133.9500',
  '5. volume': '53616'},
 '2022-06-17 11:05:00': {'1. open': '133.3000',
  '2. high': '133.8500',
  '3. low': '133.1750',
  '4. close': '133.7400',
  '5. volume': '48661'},
 '2022-06-17 11:00:00': {'1. open': '133.4000',
  '2. high': '133.5164',
  '3. low': '133.2100',
  '4. close': '133.3200',
  '5. volume': '65861'},
 '2022-06-17 10:55:00': {'1. open': '133.2750',
  '2. high': '133.4300',
  '3. low': '133.1800',
  '4. close': '133.3900',
  '5. volume': '51073'},
 '2022-06-17 10:50:00': {'1. open': '133.4900',
  '2. high': '133.6600',
  '3. low': '132.9400',
  '4. close': '133.2550',
  '5. volume': '55002'},
 '2022-06-17 10:45:00': {'1. open': '133.2600',
  '2. high': '133.4900',
  '3. low': '132.8500',
  '4. close': '133.4900',
  '5. volume': '138285'},
 '2022-06-17 10:40:00': {'1. open': '133.8800',
  '2. high': '133.9100',
  '3. low': '133.2500',
  '4. close': '133.2700',
  '5. volume': '109784'},
 '2022-06-17 10:35:00': {'1. open': '134.3850',
  '2. high': '134.4600',
  '3. low': '133.8800',
  '4. close': '133.8800',
  '5. volume': '57660'},
 '2022-06-17 10:30:00': {'1. open': '134.5800',
  '2. high': '134.6800',
  '3. low': '134.2600',
  '4. close': '134.4000',
  '5. volume': '69296'},
 '2022-06-17 10:25:00': {'1. open': '134.9900',
  '2. high': '134.9900',
  '3. low': '134.5100',
  '4. close': '134.6000',
  '5. volume': '49106'},
 '2022-06-17 10:20:00': {'1. open': '135.3300',
  '2. high': '135.3500',
  '3. low': '134.9500',
  '4. close': '135.0100',
  '5. volume': '51887'},
 '2022-06-17 10:15:00': {'1. open': '135.6550',
  '2. high': '135.6900',
  '3. low': '135.3300',
  '4. close': '135.3300',
  '5. volume': '30787'},
 '2022-06-17 10:10:00': {'1. open': '135.6500',
  '2. high': '135.7100',
  '3. low': '135.4600',
  '4. close': '135.6000',
  '5. volume': '48457'},
 '2022-06-17 10:05:00': {'1. open': '135.9650',
  '2. high': '136.1600',
  '3. low': '135.5632',
  '4. close': '135.6300',
  '5. volume': '62539'},
 '2022-06-17 10:00:00': {'1. open': '136.6600',
  '2. high': '136.7200',
  '3. low': '135.9437',
  '4. close': '135.9650',
  '5. volume': '48165'},
 '2022-06-17 09:55:00': {'1. open': '136.3600',
  '2. high': '136.7700',
  '3. low': '136.0600',
  '4. close': '136.6700',
  '5. volume': '62242'},
 '2022-06-17 09:50:00': {'1. open': '136.7879',
  '2. high': '136.9300',
  '3. low': '136.2910',
  '4. close': '136.3800',
  '5. volume': '72909'},
 '2022-06-17 09:45:00': {'1. open': '136.5300',
  '2. high': '136.9800',
  '3. low': '136.5300',
  '4. close': '136.8100',
  '5. volume': '42176'},
 '2022-06-17 09:40:00': {'1. open': '136.7700',
  '2. high': '136.8100',
  '3. low': '136.3729',
  '4. close': '136.5100',
  '5. volume': '55156'},
 '2022-06-17 09:35:00': {'1. open': '135.9900',
  '2. high': '136.8400',
  '3. low': '135.7700',
  '4. close': '136.7851',
  '5. volume': '977182'},
 '2022-06-17 09:30:00': {'1. open': '135.7300',
  '2. high': '135.9800',
  '3. low': '135.7300',
  '4. close': '135.9800',
  '5. volume': '1273'},
 '2022-06-17 09:15:00': {'1. open': '135.5000',
  '2. high': '135.5000',
  '3. low': '135.5000',
  '4. close': '135.5000',
  '5. volume': '270'},
 '2022-06-17 09:05:00': {'1. open': '135.5097',
  '2. high': '135.5097',
  '3. low': '135.5097',
  '4. close': '135.5097',
  '5. volume': '500'},
 '2022-06-17 09:00:00': {'1. open': '135.7400',
  '2. high': '136.2500',
  '3. low': '135.7400',
  '4. close': '136.2500',
  '5. volume': '827'},
 '2022-06-17 08:45:00': {'1. open': '136.0000',
  '2. high': '136.0000',
  '3. low': '135.7400',
  '4. close': '135.7400',
  '5. volume': '827'},
 '2022-06-17 08:35:00': {'1. open': '136.2500',
  '2. high': '136.2500',
  '3. low': '136.2499',
  '4. close': '136.2499',
  '5. volume': '454'},
 '2022-06-17 08:30:00': {'1. open': '136.2499',
  '2. high': '136.2499',
  '3. low': '136.2499',
  '4. close': '136.2499',
  '5. volume': '105'},
 '2022-06-17 08:20:00': {'1. open': '136.2500',
  '2. high': '136.2500',
  '3. low': '136.2500',
  '4. close': '136.2500',
  '5. volume': '173'},
 '2022-06-17 08:10:00': {'1. open': '136.2500',
  '2. high': '136.2500',
  '3. low': '136.2500',
  '4. close': '136.2500',
  '5. volume': '100'}}

In [16]:
data['Time Series (5min)']['2022-06-17 19:35:00']

{'1. open': '135.4800',
 '2. high': '135.4800',
 '3. low': '135.4800',
 '4. close': '135.4800',
 '5. volume': '300'}