In [2]:
print("Data Camp Stuff")

Data Camp Stuff

In [1]:
# Initialize offset
offset = 8

# Code the while loop
while offset != 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [2]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset = offset - 1
    else : 
      offset = offset + 1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

In [3]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas :
    print(area)

11.25
18.0
20.0
10.75
9.5

In [8]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room " + str(index) + ": " + str(a))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [5]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(a))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [7]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for x in house :
    print("the " + x[0] + " is " + str(x[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [9]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x,y in europe.items() :
    print("the capital of " + x + " is " + str(y))

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [10]:
bricsFile=pd.read_csv("brics.csv")

NameError: name 'pd' is not defined

In [11]:
import pandas as pd

In [12]:
bricsFile=pd.read_csv("brics.csv")

In [13]:
bricsFile

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [14]:
# Import cars data
import pandas as pd
bricsFile = pd.read_csv('brics.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in bricsFile.iterrows() :
    print(str(lab[0])
    print([0]:[-1]))
    
    
    # Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(["country" + ": " + str(row[cars_per_cap])])

    
    
    # Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row['cars_per_cap']))

SyntaxError: invalid syntax (Temp/ipykernel_24328/3864056887.py, line 8)

In [15]:
bricsFile

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [16]:
bricsFile = pd.read_csv('brics.csv', index_col = 0)

In [17]:
bricsFile

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [18]:
bricsFile = pd.read_csv('brics.csv', index_col = 1)

In [19]:
bricsFile = pd.read_csv('brics.csv', index_col = 1)

In [20]:
bricsFile

             Unnamed: 0    capital    area  population
country
Brazil               BR   Brasilia   8.516      200.40
Russia               RU     Moscow  17.100      143.50
India                IN  New Delhi   3.286     1252.00
China                CH    Beijing   9.597     1357.00
South Africa         SA   Pretoria   1.221       52.98

In [21]:
for lab, row in bricsFile.iterrows() :
    print(str(lab[0])
    print([0]:[-1]))

SyntaxError: invalid syntax (Temp/ipykernel_24328/2274011627.py, line 3)

In [22]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row['population']))

Brazil: 200.4
Russia: 143.5
India: 1252.0
China: 1357.0
South Africa: 52.98

In [23]:
bricsFile = pd.read_csv('brics.csv', index_col = 0)

In [24]:
bricsFile

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [25]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row['population']))

BR: 200.4
RU: 143.5
IN: 1252.0
CH: 1357.0
SA: 52.98

In [28]:
 print(lab + ": " + str(row['population']))

IndexError: string index out of range

In [29]:
 print(lab + ": " + str(row))

SA: country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [31]:
 print(lab + ": " + str(row[1:6]))

SA: capital       Pretoria
area             1.221
population       52.98
Name: SA, dtype: object

In [32]:
print(lab + ": " + str(row[1:6]))

SA: capital       Pretoria
area             1.221
population       52.98
Name: SA, dtype: object

In [33]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row[1:5]))

BR: capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU: capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN: capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH: capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA: capital       Pretoria
area             1.221
population       52.98
Name: SA, dtype: object

In [35]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row[3]))

BR: 200.4
RU: 143.5
IN: 1252.0
CH: 1357.0
SA: 52.98

In [42]:
for lab, row in bricsFile.iterrows() :
    print(lab + ": " + str(row))

BR: country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU: country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN: country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH: country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA: country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [44]:
# Code for loop that adds COUNTRY column
for lab, row in bricsFile.iterrows() :
    bricsFile.loc[lab,"COUNTRY"] = row["country"].upper()


# Print bricsFile
print(bricsFile)

         country    capital    area  population       COUNTRY
BR        Brazil   Brasilia   8.516      200.40        BRAZIL
RU        Russia     Moscow  17.100      143.50        RUSSIA
IN         India  New Delhi   3.286     1252.00         INDIA
CH         China    Beijing   9.597     1357.00         CHINA
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA

In [48]:
   bricsFile.loc[lab, "COUNTRY2"] = row["country"].upper()

In [46]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

In [49]:
   bricsFile.loc[:[lab, "A", "B", "C", "D","COUNTRY2"] = row["country"].upper()

SyntaxError: invalid syntax (Temp/ipykernel_24328/2684766941.py, line 1)

In [52]:
print(bricsFile.loc[["capital"]])

KeyError: "None of [Index(['capital'], dtype='object')] are in the [index]"

In [ ]:
mylist=["RU", "IN", "CH", "AB"]

In [53]:
mylist

NameError: name 'mylist' is not defined

In [54]:
mylist=["RU", "IN", "CH", "AB"]

In [55]:
print(mylist)

['RU', 'IN', 'CH', 'AB']

In [56]:
mylist

['RU', 'IN', 'CH', 'AB']

In [57]:
print(mylist.loc[2])

AttributeError: 'list' object has no attribute 'loc'

In [58]:
mylist = [["RU", "IN", "CH", "AX"], ["AA", "AB", "AC", "AD"]]

In [59]:
mylist

[['RU', 'IN', 'CH', 'AX'], ['AA', 'AB', 'AC', 'AD']]

In [60]:
print(mylist)

[['RU', 'IN', 'CH', 'AX'], ['AA', 'AB', 'AC', 'AD']]

In [61]:
print(mylist[1:3])

[['AA', 'AB', 'AC', 'AD']]

In [62]:
print(mylist[1])

['AA', 'AB', 'AC', 'AD']

In [64]:
print(mylist[0])

['RU', 'IN', 'CH', 'AX']

In [65]:
print(mylist[1:2])

[['AA', 'AB', 'AC', 'AD']]

In [66]:
mylist = [["RU", "IN", "CH", "AX"]]

In [67]:
print(mylist[1:2])

[]

In [68]:
print(mylist[0])

['RU', 'IN', 'CH', 'AX']

In [69]:
print(mylist[1])

IndexError: list index out of range

In [70]:
print(mylist[0:2])

[['RU', 'IN', 'CH', 'AX']]

In [71]:
print(mylist[:2])

[['RU', 'IN', 'CH', 'AX']]

In [72]:
print(mylist.iloc[1,3])

AttributeError: 'list' object has no attribute 'iloc'

In [77]:
# Use .apply(str.upper)
bricsFile["COUNTRY3"] = bricsFile["country"].apply(str.upper)
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3
BR        BRAZIL        BRAZIL
RU        RUSSIA        RUSSIA
IN         INDIA         INDIA
CH         CHINA         CHINA
SA  SOUTH AFRICA  SOUTH AFRICA

In [78]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3
BR        BRAZIL        BRAZIL
RU        RUSSIA        RUSSIA
IN         INDIA         INDIA
CH         CHINA         CHINA
SA  SOUTH AFRICA  SOUTH AFRICA

In [79]:
bricsFile["CAPITAL"] = bricsFile["capital"].apply(str.upper)
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL
BR        BRAZIL        BRAZIL   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW
IN         INDIA         INDIA  NEW DELHI
CH         CHINA         CHINA    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA

In [80]:
bricsFile["CAPITAL2"] = bricsFile["capital"].apply(str.upper)

In [81]:
bricsFile["CAPITAL3"] = bricsFile["capital"].apply(str.upper)

In [82]:
bricsFile["CAPITAL4"] = bricsFile["capital"].apply(str.upper)

In [83]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL   CAPITAL2   CAPITAL3   CAPITAL4
BR        BRAZIL        BRAZIL   BRASILIA   BRASILIA   BRASILIA   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW     MOSCOW     MOSCOW     MOSCOW
IN         INDIA         INDIA  NEW DELHI  NEW DELHI  NEW DELHI  NEW DELHI
CH         CHINA         CHINA    BEIJING    BEIJING    BEIJING    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA   PRETORIA   PRETORIA   PRETORIA

In [84]:
bricsFile["CAPITAL5"] = bricsFile["capital"].apply(str.upper)

In [85]:
print(bricsFile)

         country    capital    area  population       COUNTRY      COUNTRY2  \
BR        Brazil   Brasilia   8.516      200.40        BRAZIL           NaN
RU        Russia     Moscow  17.100      143.50        RUSSIA           NaN
IN         India  New Delhi   3.286     1252.00         INDIA           NaN
CH         China    Beijing   9.597     1357.00         CHINA           NaN
SA  South Africa   Pretoria   1.221       52.98  SOUTH AFRICA  SOUTH AFRICA

         COUNTYR      COUNTRY3    CAPITAL   CAPITAL2   CAPITAL3   CAPITAL4  \
BR        BRAZIL        BRAZIL   BRASILIA   BRASILIA   BRASILIA   BRASILIA
RU        RUSSIA        RUSSIA     MOSCOW     MOSCOW     MOSCOW     MOSCOW
IN         INDIA         INDIA  NEW DELHI  NEW DELHI  NEW DELHI  NEW DELHI
CH         CHINA         CHINA    BEIJING    BEIJING    BEIJING    BEIJING
SA  SOUTH AFRICA  SOUTH AFRICA   PRETORIA   PRETORIA   PRETORIA   PRETORIA

     CAPITAL5
BR   BRASILIA
RU     MOSCOW
IN  NEW DELHI
CH    BEIJING
SA   PRETORIA